[Unit]
Description=CoreDNS (dynamic .fgpu IP synthesizer)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/coredns -conf /etc/coredns/Corefile
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

